header {
  width: 100%;
  background-color: #ff0000a1;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.5s;
}
header i {
  margin-right: 8px;
  font-size: 22px;
}
